.student-card{
    border-radius: 13px;
    margin: 20px;
    width: 12rem;
    transition: 0.5s;
    border: 1px solid #8e2de2;
    text-align: center;
    padding: 10px;
  }
  .student-card:hover{
    box-shadow: 0px 0px 10px#8E2DE2;
  }
  .student-card h1{
    font-size: 1.5rem;
    font-weight: 600;
    color: #8E2DE2;
  }
  .link{
    text-decoration: none;
    color: #8E2DE2;
  } 
  .del-btn{
    background-color: #8E2DE2;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
  .del-btn:hover{
    background-color: #fff;
    color: #8E2DE2;
    border: 1px solid #8E2DE2;
  }